{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'store' %}">Electronics Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="form-inline my-2 my-lg-0">
          {% if request.user.is_authenticated %}
                <span class="hello-msg">Hello, {{ request.user }} </span>
                <a href="{% url 'logout' %}" class="btn btn-warning">Logout</a>
          {% else %}
                <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
          {% endif %}
          <a href="{% url 'cart' %}">
              <img alt='cart' id="cart-icon" src="{% static 'images/cart.png' %}">
          </a>
      </div>
  </div>
</nav>