{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'store' %}">Electronics Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="content">
          {% if request.user.is_authenticated %}
                <span  class="hello-msg">Hello, {{ request.user }} </span>
                <a style="font-size: 16px; padding-top: 5px; margin-bottom: 5px" href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
          {% else %}
                <a style="font-size: 16px; padding-top: 5px; margin-bottom: 5px" href="{% url 'login' %}" class="btn btn-primary">Login</a>
          {% endif %}
          <a href="{% url 'cart' %}">
              <img alt='cart' id="cart-icon" src="{% static 'images/cart.png' %}">
          </a>
      </div>
  </div>
</nav>