{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <br>
    <hr>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                    <form method="get">
                        {{ myFilter.form }}
                    <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
            <div class="col">
                    <a style="margin-left: 480px" href="{% url 'cart' %}" class="btn btn-primary">Go to Cart</a>
            </div>
        </div>
    <hr>
    <br>
    <div class="row">
    {% for product in products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{ product.imageURL }}">
			<div class="box-element product">
				<h6><strong>{{ product.name }}</strong></h6>
				<hr>
                <h4 style="display: inline-block; float: right"><strong>$
                {{ product.price|floatformat:2 }}</strong></h4>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input hidden type="text" value="{{ product.id }}" name="product">
                    <input type="submit"  class="btn btn-outline-secondary add-btn" value="Add to Cart">
                </form>
			</div>
		</div>
    {% endfor %}

	</div>
{% endblock content %}