{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <br>
    <hr>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                    <form method="get">
                        {{ myFilter.form }}
                    <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
            <div class="col">
                    <a style="margin-left: 480px" href="{% url 'cart' %}" class="btn btn-primary">Go to Cart</a>
            </div>
        </div>
    <hr>
    <br>
    <div class="row">
    {% for product in page_obj %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{ product.imageURL }}">
			<div class="box-element product">
				<h6><strong>{{ product.name }}</strong></h6>
				<hr>
                <div style="padding-left: 1px; padding-right: 1px" class="container">
                  <div class="row">
                    <div style="width: 120px" class="col-sm-4">
                      <form action="" method="POST">
                    {% csrf_token %}
                    <input hidden type="text" value="{{ product.id }}" name="product">
                    <input type="submit"  class="btn btn-outline-secondary add-btn" value="Add to Cart">
                    </form>
                    </div>
                    <div style="width: 165px" class="col-sm-5">
                      <a href="{% url 'product-details' product.pk %}" class="btn btn-outline-secondary add-btn">
                    Product Details
                        </a>
                    </div>
                    <div style="width: 125px; padding-left: 1px; margin-left: 1px" class="col-sm-4">
                      <h4 style="display: inline-block; float: right"><strong>$
                    {{ product.price|floatformat:2 }}</strong></h4>
                    </div>
                  </div>
                </div>
			</div>
		</div>
    {% endfor %}
	</div>
    <div class="pagination-container">
              <ul style="padding-left: 1080px; margin-top: 20px" class="pagination">
                  {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a  class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{page_obj.previous_page_number}}</a></li>
                  {% else %}
                      <li class="page-item disabled">
                          <span class="page-link">Previous</span>
                        </li>
                  {% endif %}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">{{ page_obj.number }}</span>
                </li>
              {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                  {% else %}
                      <li class="page-item disabled">
                          <span class="page-link">Next</span>
                        </li>
                  {% endif %}
              </ul>
            </div>
    <hr>
{% endblock content %}